.log-status.wrong-entry {
    animation( wrong-log 0.3s);
   }
   
@keyframes wrong-log {
    0%, 100% { 
        left: 0px; 
    },
    20% , 60% { left: 15px; }
    40% , 80% { left: -15px; }
  }
  