.categorymanagement .highlight {
    margin-top: 15px;
}
.categorymanagement .highlight h3 {
    margin-top: 10px;
}

.categorymanagement table .date {
    min-width: 8em;
}
.categorymanagement table .btn-link {
    color: black;
    padding: 0;
}
.categorymanagement table .deactivated,
.categorymanagement table .deactivated .btn-link {
    color: darkgray;
}

.category-list span.icon {
    cursor: pointer;
}
.category-list .symbol {
    width: 2em;
    text-align: center;
}
.category-list .category-name,
.category-list .edit-button {
    width: 10em;
}
