body {
    margin: 0;
    padding: 70px 0 0;
    font-family: sans-serif;
    background: url(./../media/bg-strange-bulleye.png) repeat;
}

.navbar-brand,
.navbar-toggle {
    float: left;
    display: block !important;
}

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
    border-bottom: 0;
}

@media (max-width:768px) {
    .navbar-toggle {
        margin-left: 15px;
    }
}

.flex-container {
    height: 80vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: auto !important;
}

.mainframe .container-fluid {
    animation: hide-menu-content 0.225s ease-out;
    margin-left: 0;
    background: rgba(255,255,255,0.85);
    border-radius: 6px;
    border: 1px solid #ddd;
}

.mainframe .show.container-fluid {
    animation: show-menu-content 0.225s ease-out;
    margin-left: 215px;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

table input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    padding: 0.1em 0.35em;
    margin: 0;
}
.table .rbt-token {
    border-radius: 8px;
}

.label-margin {
    margin-top: calc(1em + 11px);
}
.highlight-margin {
    margin-top: calc(2em + 7px);
}

.usermanagement .highlight, .organisationsettings .highlight {
    margin-top: 15px;
}
.usermanagement .highlight h3, .organisationsettings .highlight h3 {
    margin-top: 10px;
}

.icon-area [class*="iconexperience"] {
    cursor: pointer;
}

table .form-control{
    border-width: 0px;
    box-shadow: none;
    line-height: 0;
    background-color: inherit;
    height: 100%;
}

table .has-error .form-control{
    border-width: 1px;
}
