.joblist .navbar, .joblist .tab-content {
    margin-top: 15px;
}
.joblist .lastRow {
    border-bottom: 3px solid #808080;
}

.joblist .btn-link{
    padding: 0px;
}

.jobinfo span{
    word-wrap: break-word;
    word-break: break-all;
}

textarea.journal{
    word-wrap: break-word;
}

textarea.journal:disabled{
    background-color: #f5f5f5;
}
