.organisationsettings .checkbox{
    margin-top: 0;
    margin-left: 8px;
}

.organisationsettings .tab-content{
    margin-top: 15px;
}

.org-tree {
    font-size: 1.1em;
    font-weight: lighter;
    margin-bottom: 30px;
}
.org-tree, .org-tree ul, .org-tree li {
    position: relative;
}

.org-tree,
.org-tree ul {
    list-style: none;
    padding: 0;
}

.org-tree ul {
    padding-left: 22px;
}

.org-tree li {
    padding: .2em 0 0;
}
.org-tree li::before, .org-tree li::after {
    content: "";
    position: absolute;
    left: -12px;
}
.org-tree li::before {
    border-top: 1px dashed #ccc;
    top: 0.8em;
    width: 0.6em;
    height: 0;
}
.org-tree li::after {
    border-left: 1px dashed #ccc;
    height: 100%;
    width: 0;
    top: 0.25em;
}
.org-tree ul > li:last-child::after {
    height: 0.5em;
}
ul.org-tree > li:first-child::before,
ul.org-tree > li:first-child::after {
    border: 0;
}
.org-tree li > span > span:focus {
    outline: none;
}

.org-tree .label {
    display: inline-block;
    padding: .35em .7em .3em .6em;
    border: 1px solid transparent;
}
.org-tree li > span:hover.label,
.org-tree .label.selected {
    border: 1px solid #337ab7;
    opacity: 0.8;
    cursor: pointer;
}
.org-tree .label-name {
    margin: 0.2em 0 0.1em;
    display: inline-block;
}
.org-tree .glyphicon {
    margin-right: 6px;
}

.org-tree .glyphicon.loader {
    font-size: 0.1em;
    margin: 1em 9em 6em 3.5em;

}
