/* dirty table hack */
.usermanagement .table tr > td {
    width: 18%;
}
.usermanagement table .date {
    min-width: 8em;
}
.usermanagement table .btn-link {
    color: black;
    padding: 0;
}
.usermanagement table .deactivated,
.usermanagement table .deactivated .btn-link {
    color: darkgray;
}
