.usermanagement .highlight {
    margin-top: 15px;
}
.usermanagement .highlight h3 {
    margin-top: 10px;
}
/* dirty table hack */
.usermanagement .table tr > td {
    width: 18%;
}
.usermanagement table input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    padding: 0.1em 0.35em;
    margin: 0;
}
.usermanagement table .date {
    min-width: 8em;
}
.usermanagement table .btn-link {
    color: black;
    padding: 0;
}
.usermanagement table .deactivated,
.usermanagement table .deactivated .btn-link {
    color: darkgray;
}
