body {
  margin: 0;
  padding: 50px 0 0;
  font-family: sans-serif;
}
.navbar-brand, .navbar-toggle {
  float: none !important;
  display: inline-block !important;
}
@media (max-width:768px) {
  .navbar-toggle {
    margin-left: 15px;
  }
}


.container {
  width: auto !important;
}

@keyframes show-menu {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
@keyframes hide-menu {
  0% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}
@keyframes show-menu-content {
  0% {
    left: 0;
  }
  100% {
    left: 200px;
  }
}
@keyframes hide-menu-content {
  0% {
    left: 200px;
  }
  100% {
    left: 0;
  }
}
.mainframe > .container {
  position: absolute;
  left: 0;
  animation: hide-menu-content 0.25s ease-out;
}
.mainframe .show.container {
  animation: show-menu-content 0.25s ease-out;
  left: 200px;
}

.sitebar {
  position: absolute;
  left: -200px;
  padding: 10px 15px;
  width: 200px;
  height: 100vh;
  animation: hide-menu 0.25s ease-out;
}
.show.sitebar {
  animation: show-menu 0.25s ease-out;
  left: 0;
}
.sitebar ul {
  list-style: none;
  list-style-position: outside;
  padding-left: 10px;
}
        
.sitebar li {
  margin-top: 10px;
}