body {
    margin: 0;
    padding: 50px 0 0;
    font-family: sans-serif;
    background-color: transparent;
}

body::after {
    content: "";
    background: url(./media/bg-strange-bulleye.png) repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.navbar-brand,
.navbar-toggle {
    float: left;
    display: block !important;
}

@media (max-width:768px) {
    .navbar-toggle {
        margin-left: 15px;
    }
}

.flex-container {
    height: 80vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: auto !important;
}

.mainframe>.container {
    position: absolute;
    animation: hide-menu-content 0.125s ease-out;
    left: 0;
}

.mainframe .show.container {
    animation: show-menu-content 0.225s ease-out;
    left: 200px;
}

.progress {
    height: 5px
}

.progress-bar-striped {
    width: 100%
}